<a href="https://colab.research.google.com/github/He11oWorldss/OOP-58002/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Boolean Operators

In [62]:
a=7
b=6
print(10>9)
print(10<9)
print (a>b)

True
False
True

bool()function

In [6]:
print(bool("Dwight"))
print(bool(1))
print(bool(0))
print(bool(None))
print(bool(False))
print(bool(True))

True
True
False
False
False
True

Functions can return a Boolean

In [23]:
def my_Function():
 return True
print(my_Function())

True

In [24]:
if my_Function():
  print("True")
else:
  print("False")

True

Application 1

In [25]:
print(10>9)

True

In [26]:
a=6
b=7

print(a==b)
print(a!=a)

False
False

Python Operators

In [33]:
print(10+5)
print(10-5)
print(10/3)
print(10%5)
print(10//3)          #10/3=3.333
print(10**2)

15
5
3.3333333333333335
0
3
100

Bitwise Operator

In [38]:
c=60 #binary 0011 1100
d=13 #binary 0000 1101

c&d
print(c|d)
print(c^d)

print(d<<2)

61
49
52

Logical Operators

In [40]:
h= True
l= False
h and l
h or l
not (h or l)

False

Application 2

#Python Assignment Operators

In [56]:
x=100
x+=3 #Same as x=x+3, x=100+3=103
print(x)
x-=3
print(x)
x*=3
print(x)
x/=3
print(x)
x%=3
print(x)

103
100
300
100.0
1.0

Identity Operators

In [58]:
h is l
h is not l

True

#Control Structure

If Statement

In [64]:
if a>b:
  print("a is greater than b")

a is greater than b

Elif Statement

In [65]:
if a<b:
  print("a is less than b")
elif a>b:
  print("a is greater than b")

a is greater than b

Else Statement

In [69]:
a=10
b=10
if a<b:
  print("a is less than b")
elif a>b:
  print("a is greater than b")
else:
  print("a is equal to b")

a is equal to b

Short Hand if Statement

In [67]:
if a==b:print("a is equal to b")

a is equal to b

Short Hand If...Else

In [75]:
a =10
b =9
print("a is greater than b") if a>b else print("b is greater than a")

a is greater than b

And

In [78]:
if a>b and b==b:
  print("both condition are True")

both condition are True

Or

In [80]:
if a<b or b==b:
  print("The condition are True")

The condition are True

Nested If

In [88]:
x=int(input())
if x>10:
  print("x is above 10")
  if x>20:
    print("and also above 20")
    if x>30:
      print("and also above 30")
      if x>40:
        print("and also above 40")
    
        if x>50:
          print("and also above 50")
        else:
          print("but not above 50")

48
x is above 10
and also above 20
and also above 30
and also above 40
but not above 50

Loop Statement

For Loop

In [91]:
week=['Sunday',"Monday",'Tuesday',"Wednesday",'Thursday',"friday",'Saturday']

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
friday
Saturday

The break statement

In [97]:
#to display Sunday to Wednesday using For loop
for x in week:
  print(x)
  if x=="Wednesday":
    break

#to display only Wednesday using break statement
for x in week:
  if x=="Wednesday":
    break
print(x)

Sunday
Monday
Tuesday
Wednesday
Wednesday

In [98]:
#to display only Wednesday using break statement
for x in week:
  if x=="Wednesday":
    break
print(x)

Wednesday

While Statement

In [101]:
i=1
while i<6:
  print(i)
  i+=1        #same as i=i+1

1
2
3
4
5

Application 3- Create a python program that
displays no.3 using break statement

In [112]:
i=1
while i<6:
  if i==3:
    break
  i+=1  
print(i)

3